/* Add CSS Styling */
.first {
  background: black;
  color: white;
}

.second {
  background: yellow;
}

.first,
.second {
  font-size: 28px;
  font-family: Helvetica, "Times New Roman", sans-serif;
}